WarningsAsErrors: "*"
HeaderFilterRegex: '.*\.h'
FormatStyle: file
Checks: >
  -*, bugprone-*, -bugprone-easily-swappable-parameters, -bugprone-assignment-in-if-condition, -bugprone-signal-handler, concurrency-*, -concurrency-mt-unsafe, misc-*, -misc-no-recursion, modernize-*, -modernize-use-nullptr, -modernize-avoid-c-arrays, -modernize-deprecated-headers, -modernize-use-trailing-return-type, performance-*, -performance-enum-size, readability-*, -readability-braces-around-statements, -readability-magic-numbers, -readability-identifier-length, -readability-isolate-declaration, -readability-function-cognitive-complexity

CheckOptions:
  performance-for-range-copy.WarnOnAllAutoCopies: true
  performance-inefficient-string-concatenation.StrictMode: true
  readability-braces-around-statements.ShortStatementLines: 0
  readability-identifier-naming.EnumCase: snake_case
  readability-identifier-naming.EnumConstantCase: UPPER_CASE
  readability-identifier-naming.FunctionCase: snake_case
  readability-identifier-naming.StructCase: snake_case
